body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 960px;
    margin: 110px auto 40px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-decoration: none;
}

.page-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

.add-project-link {
    display: inline-block;
    text-decoration: none;
    margin-top: 18px;
}

.btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.edit-btn {
    background-color: #ffbb00;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.delete-btn {
    background-color: #bb021bb0;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}

.divider {
    border: none;
    border-top: 1px solid #ddd;
    margin: 20px 0;
}

.project {
    background-color: #f5f5f5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 16px;
    margin-bottom: 14px;
    height: 160px;
}

.project h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.project p {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

.project-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.project-author {
    display: flex;
    justify-content: flex-end;
}

.edit-btn,
.delete-btn {
    display: inline-block;
    color: #333;
    font-size: 14px;
    font-weight: bold;
    margin-left: 10px;
    padding: 6px 10px;
    text-decoration: none;
    border-radius: 3px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.edit-btn:hover,
.delete-btn:hover {
    background-color: #eee;
    color: #555;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #e2e8f0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.navbar-logo {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 1.2rem;
}

.navbar-nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin-right: 1rem;
}

.nav-link {
    text-decoration: none;
    color: #000;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #007bff;
}

.nav-username {
    margin-right: 1rem;
    font-weight: bold;
    color: #000;
}

.navbar-title {
    margin-left: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #2f2c2c;
    padding-top: 20px;
    /* margin-top: 10px; */
}

.navbar-title a {
    display: flex;
    text-decoration: none;
    color: #2f2c2c;
}

.navbar-title h4 {
    margin-top: 5px;
    margin-left: 4px;
}

.main-content {
    display: flex;
    justify-content: space-between;
}