        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        .navbar {
            background-color: #34495e;
            padding: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .navbar-title {
            font-size: 24px;
            font-weight: bold;
            color: #fff;
            padding-top: 15px;

        }

        .navbar-title a {
            text-decoration: none;
            color: #fff;
        }

        .navbar-buttons {
            display: flex;
            gap: 10px;
        }

        .navbar-button {
            padding: 10px 20px;
            background-color: #3498db;
            color: #fff;
            border: none;
            border-radius: 5px;
            text-decoration: none;
            font-weight: bold;
            transition: background-color 0.3s ease;
        }

        .navbar-button:hover {
            background-color: #2980b9;
        }

        .navbar-info {
            margin: 50px auto;
            text-align: center;
            font-size: 18px;
            color: #333;
            background-color: #f8f8f8;
            padding: 50px;
            border-radius: 10px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            max-width: 600px;
        }

        .navbar-info h1 {
            font-size: 32px;
            color: #34495e;
            margin-bottom: 20px;
        }

        .navbar-info p {
            margin-bottom: 10px;
        }

        .navbar-info-button {
            padding: 10px 20px;
            background-color: #3498db;
            color: #fff;
            border: none;
            border-radius: 5px;
            text-decoration: none;
            font-size: 20px;
            font-weight: bold;
            transition: background-color 0.3s ease;
        }

        .navbar-info-button:hover {
            background-color: #2980b9;
        }

        .basecamp-images {
            display: flex;
            justify-content: center;
            margin-top: 50px;
        }

        .basecamp-images img {
            width: 200px;
            height: auto;
            margin: 10px;
            transition: transform 0.3s ease;
            border-radius: 10px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .basecamp-images img:hover {
            transform: scale(1.1);
        }

        .features {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            margin-top: 50px;
            padding: 0;
            list-style-type: none;
        }

        .feature-card {
            width: 300px;
            height: 200px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            margin: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            transition: transform 0.3s ease;
        }

        .feature-card:hover {
            transform: translateY(-10px);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

        .feature-card-title {
            font-size: 20px;
            font-weight: bold;
            color: #333;
            margin-bottom: 10px;
        }

        .feature-card-description {
            font-size: 16px;
            color: #666;
            text-align: center;
            padding: 0 20px;
        }

        .basecamp_title {
            display: flex;
        }

        h4 {
            margin-top:5px;
            margin-left: 4px;
        }